/* 给 body 进行样式初始化 */
body {
  min-width: 320px;
  max-width: 540px;
  margin: 0 auto;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.5;
  font-family: -apple-system, Helvetica, sans-serif;
}

ol,
li,
h1,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*点击高亮我们需要清除清除 设置为transparent 完成透明*/
* {
  -webkit-tap-highlight-color: transparent;
}

/*在移动端浏览器默认的外观在iOS上加上这个属性才能给按钮和输入框自定义样式*/
input {
  -webkit-appearance: none;
}

/*禁用长按页面时的弹出菜单*/
img,
a {
  -webkit-touch-callout: none;
}

/* 制作顶部提示部分 */
.top-tips {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #333;
  line-height: 45px;
  text-align: center;
  color: #fff;
}

.top-tips div:nth-child(1) {
  float: left;
  width: 8%;
}

.top-tips div:nth-child(1) img {
  width: 10px;
  vertical-align: middle;
}

.top-tips div:nth-child(2) {
  float: left;
  width: 10%;
}

.top-tips div:nth-child(2) img {
  width: 30px;
  vertical-align: middle;
}

.top-tips div:nth-child(3) {
  float: left;
  width: 57%;
}

.top-tips div:nth-child(4) {
  float: left;
  width: 25%;
  height: 45px;
  background-color: #cd2525;
}

/* 搜索框 */
.search-box {
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  height: 44px;
  z-index: 20;
}

.search-box .search-btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 44px;
}

.search-box .search-btn span {
  display: block;
  width: 20px;
  height: 18px;
  margin: 14px 0 0 15px;
  background: url(../images/s-btn.png) no-repeat 0 0;
  background-size: 20px 18px;
}

.search-box .login {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 44px;
  line-height: 44px;
  color: #fff;
  text-align: left;
}

.search-box .search {
  position: relative;
  height: 30px;
  margin: 7px 50px;
  border-radius: 15px;
  background-color: #fff;
}

.search-box .search span {
  float: left;
  position: relative;
  width: 20px;
  height: 15px;
  margin: 8px 8px 0 15px;
  background: url(../images/logo2.png) no-repeat 0 0;
  background-size: 20px 15px;
}

.search-box .search span::after {
  position: absolute;
  right: -8px;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #ccc;
}

.search-box .search i {
  float: left;
  width: 18px;
  height: 15px;
  margin: 8px 0 0 15px;
  background: url(../images/jd-sprites.png) no-repeat -82px 0;
  background-size: 200px 200px;
}

.search-box .search input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
  padding: 0 20px 0 78px;
  border: none;
  background-color: transparent;
  font-size: 12px;
}

/* 主要内容区域 */
.content {
  width: 100%;
  margin-top: 45px;
  background-color: #f6f6f6;
}

/* 焦点图区域 */
.banner {
  position: relative;
  width: 100%;
  height: 187px;
  overflow: hidden;
}

.banner .banner-bg {
  position: absolute;
  left: -25%;
  width: 150%;
  height: 145px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background-image: linear-gradient(0deg, #f1503b, #c82519 50%);
}

/* 设置滑动轮播图的样式 */
.banner ul {
  position: relative;
  margin: 0;
  list-style: none;
}

.banner ul li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 187px;
  padding: 44px 3.333% 0;
  box-sizing: border-box;
}

.banner ul li:nth-child(2) {
  left: 100%;
}

.banner ul li:nth-child(3) {
  left: 200%;
}

.banner ul li a {
  display: block;
}

.banner ul li a img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

/* 轮播图的小圆点 */
.banner ol {
  position: absolute;
  bottom: 12px;
  left: 50%;
  margin-left: -20px;
}

.banner ol li {
  float: left;
  width: 6px;
  height: 6px;
  margin: 0 2px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.3);
}

.banner ol .current {
  background-color: #fa2c19;
}

/* 导航部分 */
nav {
  position: relative;
  width: 100%;
  height: 162px;
  overflow: hidden;
}

nav .mall-nav {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

nav .mall-nav-2 {
  left: 100%;
}

nav .mall-nav a {
  float: left;
  width: 20%;
  color: #666;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
}

nav .mall-nav a img {
  display: block;
  width: 40px;
  margin: 10px auto 0;
}

nav .mall-nav a span {
  display: block;
  height: 18px;
  margin-top: 6px;
  line-height: 18px;
}

/* 导航的小圆点 */
nav ol {
  position: absolute;
  left: 50%;
  bottom: 6px;
  margin-left: -8px;
}

nav ol li {
  float: left;
  width: 6px;
  height: 6px;
  margin: 0 2px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.3);
}

nav ol .current {
  background-color: #fa2c19;
}

/* 京东秒杀 */
.seckill {
  height: 156px;
  margin: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 12px;
  background-color: #fff;
  justify-content: center;
}

.seckill .title {
  height: 45px;
}

.seckill .title a {
  display: block;
  width: 100%;
  height: 45px;
  background: url(../images/seckill_bg.png) no-repeat 0 0;
  background-size: auto 48px;
}

.seckill .title h1 {
  float: left;
  margin-left: 15px;
  font-size: 18px;
  color: #333;
  font-weight: normal;
  line-height: 45px;
  text-align: center;
}

.seckill .title a .time {
  position: relative;
  float: left;
  padding-right: 40px;
  margin-left: 12px;
  font-size: 16px;
  color: #ff2727;
  font-weight: normal;
  line-height: 45px;
  text-align: center;
}

.seckill .title .time::after {
  position: absolute;
  display: block;
  content: "";
  margin-top: -32.5px;
  margin-left: 20px;
  width: 20px;
  height: 20px;
  background: url(../images/seckill-time-to.png) no-repeat 0 0;
  background-size: auto 17.5px;
}

.seckill .title a span:nth-child(odd) {
  display: block;
  float: left;
  width: 20px;
  height: 23px;
  margin-top: 10px;
  line-height: 23px;
  border-radius: 6px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  background-image: linear-gradient(-140deg, #ff6152, #fa2c19);
}

.seckill .title a i:nth-child(even) {
  display: block;
  float: left;
  margin: 0 3px;
  font-style: normal;
  line-height: 45px;
  text-align: center;
  color: #fa2c19;
  font-weight: 700;
}

.seckill .title a span:last-child {
  display: block;
  float: right;
  line-height: 45px;
  text-align: center;
  color: #f23030;
}

.seckill .title a span:last-child::after {
  display: block;
  width: 12px;
  height: 12px;
  margin: 15px 10px 15px 5px;
  content: "";
  float: right;
  background: url("../images/arrow_right.png") no-repeat 0 0;
  background-size: 12px;
}

.seckill .seckill-content {
  width: 100%;
}

.seckill .seckill-content ul li {
  float: left;
  width: 20%;
  height: 104px;
  text-align: center;
}

.seckill .seckill-content ul li img {
  display: block;
  width: 60px;
  height: 60px;
  margin: 10px auto;
}

.seckill .seckill-content ul li span {
  color: #f2270c;
  font-size: 12px;
  font-family: JDZhengHT-EN-Regular;
}

/* 商品展示部分 */
.goods-show {
  position: relative;
  margin: 10px;
  width: 100%;
  overflow: hidden;
}

.goods-show a {
  float: left;
  display: block;
  width: 46%;
  box-sizing: border-box;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

.goods-show a img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.goods-show a .goods-content {
  margin: 5px;
}

.goods-show a .goods-content p {
  display: inline;
  margin: 0;
  width: 100%;
  font-size: 14px;
  color: #434343;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.goods-show a .goods-content span:nth-child(2),
span:nth-child(4) {
  color: #ff4142;
  font-size: 13px;
  font-weight: 400;
}

.goods-show a .goods-content span:nth-child(3) {
  color: #ff4142;
  font-size: 18px;
  font-weight: bold;
}

.goods-show a .goods-content span:nth-child(5) {
  display: block;
  float: right;
  margin-top: 3px;
  height: 18px;
  border: 1px solid #ff4142;
  border-radius: 3px;
  color: #ff4142;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.goods-show a .goods-content span:nth-child(6) {
  color: #999;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.goods-show a .goods-content span:nth-child(7) {
  float: right;
  display: block;
  padding: 1px 10px;
  background-color: #f2f2f2;
  border-radius: 10px;
  color: #262626;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}


/* 新人专享 */
.new {
  margin: 10px;
  overflow: hidden;
}

.new a {
  float: left;
  width: 50%;
}

.new a img {
  display: block;
  width: 100%;
}